* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" ;
}


body {

    background-color: #89C15E;
   
}
.scoreboard {
    display: flex;
    width: 800px;
    height: 158px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-radius: 13px;
    margin: 62px auto;
    margin-bottom: 0px;
}

.game-title {
    font-size: 40px;
    font-weight: 600;
    color: white;

     
}

.score-section {
    display: flex;
    column-gap: 29px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 139px;
    height:128px;   
    background-color: white;
    border-radius: 9px;
    padding: 5px 0;
    
}

 .score-title {
    font-size: 17px;
    font-weight: 600;
    color:#656565;

}

.score-value {
    width: 79px;
    height: 63px;
    font-size: 68px;
    font-weight: bold;
    color: black;
    margin: 0;
    text-align: center;
} 
.options-container {
    
    position: relative;
    width: 346px; 
    height: 314px; 
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    margin: 109px  auto;
    display: none;
}

.options-container .first-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.option{
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}


.option-1 {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    outline: 16px solid #0074B6;

   
}
.option-2 {
     width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    outline: 16px solid #BD00FF;
    
}
.option-3 {
     width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    outline: 16px solid #FFA943;
    margin: 0 auto;
    
}

.line-connector{
    position:absolute;
}

.line1-2{
    width: 126px;
    height: 15px;
    background-color:black;
    opacity: 64%;
    top:47px;
    left:110px;
    z-index: -1;
    
    
}
.line1-3{
    width: 126px;
    height: 15px;
    background-color:black;
    opacity: 64%;
    z-index: -1;
    top: 142px;
    left: 47px;
    transform: rotate(60.58deg); 
    
    
}

.line2-3{
    width: 126px;
    height: 15px;
    background-color:black;
    opacity: 64%;
    z-index: -1;
    top: 142px;
    right: 47px;
    transform: rotate(-60.58deg); 
    
    
}

.game-rules-container {
    position: absolute;
    width: 303px;
    height: 325px;
    top: 330px;
    left:964px;
    display: none;
 
}

.game-rules{
    width: 271px;
    height: 318px;
    background-color: #004429;
    border-radius:7px;
    box-shadow: 0 0 0 7px white;

}
.game-rules h1{
    color: white;
    font-weight: 500;
    font-size: 29;
    text-align: center;
    padding-top: 18px ;
}

.game-rules ul {
  list-style-type:none;
  padding: 0px 18px 18px 39px;

}

.game-rules li {
    color:white;
    font-weight: 400;
    font-size: 13px;
    margin-top: 18px;
    position: relative;
  

}
.game-rules li::before {
  content: "";
  position: absolute;
  left:-19px;
  top:50%;
  width: 8px;
  height: 8px;
  background-color: yellow; 
  display: inline-block;
}

.cut-button{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color:white;
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 0 0 0 5px white;
}
.cut-button h2{
    font-family:"Dangrek";
     font-size: 44px;
    font-weight: 400;
}

.rules-next-button{
    display: flex;
    position: absolute;
    top: 675px;
    right: 24px;
    gap: 32px;
  
    
}
.rules-button{
    width: 119px;
    height: 40px;
    color :white;
    background-color: #89C15E;
    border: 2px solid white;
    border-radius: 10px ;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 10%;
    cursor: pointer;

}
.next-button{
    width: 119px;
    height: 40px;
    color :white;
    background-color: #89C15E;
    border: 2px solid white;
    border-radius: 10px ;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 10%;
    cursor: pointer;
    display: none;
   

}

.result-container{
    width: 877px;
    height: 350px;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    
    position: relative;
  
}
.result-container .options{
  
}

.you-picked .option-3,.you-picked .option-1{
    display: none;
    
}
.pc-picked .option-2, .pc-picked .option-1{
    display: none;
    
}
.result-container .option-1 {
    width: 140px;
    height: 140px;
   
}
.result-container  .option-2 {
     width: 140px;
    height: 140px;

    
}
.result-container  .option-3 {
     width: 140px;
    height: 140px;
    
}




.outer-circle, 
.middle-circle, 
.inner-circle, .inner-circle .options {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.outer-circle {
  width: 350px;
  height: 350px;
  background-color: rgba(46, 154, 37, 0.29); 
}

.middle-circle {
  width: 300px;
  height: 300px;
  background-color: rgba(46, 154, 37, 0.79); 
}

.inner-circle {
  width: 250px;
  height: 250px;
  background-color: rgba(46, 154, 37, 1); 
}

.result{
    width: 183px;
    height: 36px;;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result h1{
    font-family: "roboto";
    font-size: 39px;
    font-weight: 800;
    color: white;
    

}

.result h2{
    font-family: "roboto";
    font-size:25px;
    font-weight: 800;
    color: white;
   
  
}
.result-button{
    font-family: "roboto";
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    border-radius: 9px;
    margin-top: 15px;
    width: 174px;
    height: 44px;
    background-color: white; 
    font-size: 15px;
    font-weight: 600;
    font-family: "roboto";
    color: #6B6B6B;
    border: none;
    outline: none;
    cursor: pointer;
   letter-spacing: 10%;
 
}